body {
	background-color: #dddddd;
}

#icon_block {
    position: relative;
    float: left;
    background-color: #c2dfef;
    color: brown;
    padding: 25px;
    margin: 0px 0px 0px 0px;

}


#icon_block ul {
	list-style: none;
	/*margin: 0, 5px, 0, 0;*/
	display: inline;
}

#icon_block li {
	position: relative;
	margin: 0, 10px, 0, 0;
	float: left;
}
/* Specifierar bilden i icon_block */
#icon_block img {
	float: left;
	width: auto;
	height: 30px;
}
#icon_block text {
	width: 5px;
}

.meny {
	width: 100%;
	overflow: hidden;
}

#hem {
	width: 50px;
	float: right;
}

#boka {
	width: 96px;
	float: right;
	
}
#information {
	float: right;
}


#top {
    position: relative;
    background-color: #036fab;
    color: white;
    padding: 25px;
    margin: 10px 0px 10px 200px; /* NORTH, EAST, SOUTH, WEST */
}

#bottom {
    position: relative;
    background-color: #c2dfef;
    padding: 5px;
    margin: 10px 0px 0px 0px;
}

#left {
    float: left;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

#right {
    float: right;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

.center_content {
	height: auto;
	width: auto;
    position: relative;
    background-color: #dddddd;
    padding: 1000px;
}

.left_content {
    background-color: #dddddd;
    padding: 5px;
    margin-left: 170px;
}

.right_content {
    background-color: #dddddd;
    padding: 5px;
    margin: 0px 170px 0px 170px;
}

#top a:link, #top a:visited {
  color: white;
  font-weight : bold;
  text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
  color: black;
  font-weight : bold;
  text-decoration : underline;
}


